@charset "UTF-8";

/*Fonte: Passion One*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

/*Fonte: Sriracha*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


*{
    /*Configuração para todos os elementos*/
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100%; /*Ou 100vh*/
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center; /*Centralizar*/
}

header > h1{
    padding-top: 50px; /*Espaço do topo*/
    /*
    Transformar todas letras em maiusculas e minusculas
    text-transform: uppercase
    text-transform: lowercase
    */

    /*OU, podemos usar o font-variant: small-caps;
    Tudo maiusculo porem as primeiras letras maiores ainda*/
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw; /*Vai ajudar a LARGURA da tela*/
}

header > p{
    padding-bottom: 50px; /*Para dar mais espaço tanto para cima quanto para baixo*/
}

a{
    color: white;
    text-decoration: none; /*sem sublinhado*/
    font-weight: bolder;

}

a:hover{
    text-decoration: underline; /*Fica sublinhado assim que o mouse passa por cima do link*/
}

section{
    /*Serve tanto para a Normal quanto para a Imagem*/
    /*Espaço para o efeito paralax
    Faz com que ganhe mais espaço, e já vai ajustando a altura ao redimensionar a pagina*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*Espaçamento duplo das linhas*/
    padding-left: 30px; /*Para sair do canto da tela*/
    font-family: var(--fonte3);
    font-size: 3.5vw; /*Vai ajudar a LARGURA da tela*/
}

section > p{
    padding-bottom: 2em; /*Para ele dar uma espaçadinha*/
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    /*Serve para todas as imagens*/
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.579);/*Altura,largura, espalhamento, ampliação, cor*/

    /*EFEITO PARALLAX*/

    background-size: cover; /*Pois fica melhor para enxergar, antes a imagem estava muito grande*/

    /*Fixando a imagem*/
    background-attachment: fixed;/*Fica fixo*/
}
section.imagem > p{
    display: inline-block; /*Vai criar a caixa que se ajusta com o tamanho*/
    padding: 5px; /*Para dar um espaço*/
    background-color: rgba(0, 0, 0, 0.5);

    /*Colocando SOMBRA no TEXTO*/
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center; /*Para ficar centralizado à direita*/   
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center; /*Para ficar centralizado à direita*/
}


footer{
    background-color: black;
    color: beige;
    text-align: center;
    padding: 10px;
}